<script id="tmpl-FileSaveDialog" type="text/html">
	<div class="FileSaveDialog">
    <div>
        <input type="text" value=""/>
    </div>
    <div class="FileSaveDialog-buttonbar">
      <button class="btn btn-primary" data-action="save">Save</button>
      <button class="btn" data-action="cancel">Cancel</button>
    </div>
  </div>
</script>