<script id="tmpl-MainScreen" type="text/html">
	<div class="MainScreen">
    <canvas class="cacheCanvas" style="display:none;"></canvas>
    <div class="MainScreen-content">
    	<div class="camContent">
    		<video class="webCam" />
    		<img class="imgScreenShot" />
    	</div>
      <div class="btnContent">
        <div><div class="btn btnCapture">Capture</div></div>
        <div><div class="btn btnSave">Save</div></div>
      </div>
    </div>
	</div>  
</script>